* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.elegant {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3px;
}
.elegant .logo {
  color: #000;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 20px;
  display: flex;
  gap: 20px;
}
.elegant .shop {
  display: flex;
  align-items: center;
  width: 50%;
}
.elegant .shop ul {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 20%;
  list-style: none;
}
.elegant a {
  color: black;
}

.icone {
  display: flex;
  gap: 20px;
  align-items: center;
}
.icone .nabr {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #F3F5F7;
}

.slider {
  width: 76%;
  max-width: 1160px;
  height: 536px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.slider .list {
  position: absolute;
  height: 100%;
  display: flex;
  width: max-content;
  transition: 1s;
}
.slider .list .img {
  width: 1160px;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider .buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider .buttons button {
  width: 52px;
  height: 52px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
.slider .buttons button i {
  color: #000;
  font-size: 20px;
}
.slider .dots {
  position: absolute;
  bottom: 14px;
  color: #fff;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.slider .dots li {
  list-style: none;
  width: 15px;
  height: 15px;
  margin: 10px;
  background-color: #fff;
  border-radius: 50%;
  transition: 1s;
  box-shadow: rgba(0, 115, 255, 0.4) 0px 2px 4px, rgba(40, 49, 74, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.slider .dots .active {
  width: 40px;
  border-radius: 100px;
}

.banner {
  margin: 50px 12%;
  display: flex;
  justify-content: space-between;
}
.banner .ban_left {
  width: 49%;
  height: 644px;
  background-color: #f2f4f6;
  display: flex;
  flex-direction: column;
}
.banner .ban_left .ban_content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 48px;
}
.banner .ban_left .ban_content h1 {
  color: var(--neutral-07100, #141718);
  align-self: stretch;
  font-family: Poppins;
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
  line-height: 38px;
  /* 111.765% */
  letter-spacing: -0.6px;
  cursor: default;
}
.banner .ban_left .ban_content a {
  display: flex;
  align-items: center;
  color: var(--neutral-07100, #141718);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  /* 175% */
  letter-spacing: -0.4px;
  text-decoration: none;
  border-bottom: 1px solid #141718;
  gap: 8px;
  width: 100px;
  transition: color 0.3s ease;
}
.banner .ban_left .ban_content a i {
  font-size: 14px;
}
.banner .ban_left .ban_content a:hover {
  color: #377DFF;
  border-bottom: 1px solid #377DFF;
}
.banner .ban_left img {
  margin: auto;
  width: 480px;
  height: 400px;
}
.banner .ban_right {
  width: 49%;
  height: 644px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner .ban_right .ban_up {
  width: 100%;
  height: 48%;
  display: flex;
  background-color: #f2f4f6;
}
.banner .ban_right .ban_up .ban_content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 181px auto auto 32px;
}
.banner .ban_right .ban_up .ban_content h1 {
  color: var(--neutral-07100, #141718);
  align-self: stretch;
  font-family: Poppins;
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
  line-height: 38px;
  /* 111.765% */
  letter-spacing: -0.6px;
  cursor: default;
}
.banner .ban_right .ban_up .ban_content a {
  display: flex;
  align-items: center;
  color: var(--neutral-07100, #141718);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  /* 175% */
  letter-spacing: -0.4px;
  text-decoration: none;
  border-bottom: 1px solid #141718;
  gap: 8px;
  width: 100px;
  transition: color 0.3s ease;
}
.banner .ban_right .ban_up .ban_content a i {
  font-size: 14px;
}
.banner .ban_right .ban_up .ban_content a:hover {
  color: #377DFF;
  border-bottom: 1px solid #377DFF;
}
.banner .ban_right .ban_up img {
  margin: auto 60px;
  width: 210px;
  height: 260px;
}
.banner .ban_right .ban_down {
  width: 100%;
  height: 48%;
  display: flex;
  background-color: #f2f4f6;
}
.banner .ban_right .ban_down .ban_content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 181px auto auto 32px;
}
.banner .ban_right .ban_down .ban_content h1 {
  color: var(--neutral-07100, #141718);
  align-self: stretch;
  font-family: Poppins;
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
  line-height: 38px;
  /* 111.765% */
  letter-spacing: -0.6px;
  cursor: default;
}
.banner .ban_right .ban_down .ban_content a {
  display: flex;
  align-items: center;
  color: var(--neutral-07100, #141718);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  /* 175% */
  letter-spacing: -0.4px;
  text-decoration: none;
  border-bottom: 1px solid #141718;
  gap: 8px;
  width: 100px;
  transition: color 0.3s ease;
}
.banner .ban_right .ban_down .ban_content a i {
  font-size: 14px;
}
.banner .ban_right .ban_down .ban_content a:hover {
  color: #377DFF;
  border-bottom: 1px solid #377DFF;
}
.banner .ban_right .ban_down img {
  margin: auto 50px;
  width: 230px;
  height: 200px;
}

.carousel {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding: 50px 12%;
}
.carousel .carousel_info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel .carousel_info h1 {
  color: #000;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 44px;
  /* 110% */
  letter-spacing: -0.4px;
  cursor: default;
}
.carousel .carousel_info a {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-bottom: 1px solid black;
  gap: 8px;
  color: var(--neutral-07100, #141718);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 175% */
  letter-spacing: -0.4px;
  width: 130px;
  transition: color 0.3s ease;
}
.carousel .carousel_info a i {
  font-size: 14px;
}
.carousel .carousel_info a:hover {
  color: #377DFF;
  border-bottom: 1px solid #377DFF;
}
.carousel .carousel_cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-size: 0;
  overflow-x: auto;
  gap: 24px;
  padding: 5px;
}
.carousel .carousel_cards .card {
  width: 262px;
  height: 470px;
  margin-bottom: 48px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: box-shadow 0.4s ease;
  border-radius: 5px;
}
.carousel .carousel_cards .card .card_up {
  width: 100%;
  height: 350px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 15px;
}
.carousel .carousel_cards .card .card_up .card_up_info {
  display: flex;
  cursor: default;
  justify-content: space-between;
}
.carousel .carousel_cards .card .card_up .card_up_info .card_up_text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.carousel .carousel_cards .card .card_up .card_up_info .card_up_text h1 {
  padding: 4px 14px;
  border-radius: 4px;
  color: #000;
  background-color: #fff;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.carousel .carousel_cards .card .card_up .card_up_info .card_up_text p {
  padding: 4px 14px;
  border-radius: 4px;
  color: #fff;
  background-color: #38CB89;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.carousel .carousel_cards .card .card_up .card_up_info .heart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.carousel .carousel_cards .card .card_up .card_up_info .heart i {
  font-size: 20px;
}
.carousel .carousel_cards .card .card_up .card_up_info .red_heart {
  box-shadow: rgba(255, 0, 0, 0.442) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.carousel .carousel_cards .card .card_up .card_up_info .red_heart i {
  color: red;
}
.carousel .carousel_cards .card .card_up .card_up_info .visibleHeart {
  visibility: hidden;
}
.carousel .carousel_cards .card .card_up .img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}
.carousel .carousel_cards .card .card_up .img img {
  width: 200px;
}
.carousel .carousel_cards .card .card_up button {
  padding: 8px 24px;
  background-color: #141718;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  text-align: center;
  line-height: 28px;
  letter-spacing: -0.4px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
}
.carousel .carousel_cards .card .card_down {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 12px;
  align-items: start;
  padding-left: 10px;
}
.carousel .carousel_cards .card .card_down .stars {
  display: flex;
  gap: 8px;
  margin-top: 14px;
}
.carousel .carousel_cards .card .card_down .stars i {
  font-size: 14px;
}
.carousel .carousel_cards .card .card_down a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--neutral-07100, #141718);
  align-self: stretch;
  font-family: Inter;
  font-style: normal;
  transition: color 0.1s ease;
}
.carousel .carousel_cards .card .card_down a:hover {
  color: #377DFF;
}
.carousel .carousel_cards .card .card_down p {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  gap: 12px;
  color: var(--neutral-07100, #141718);
  align-self: stretch;
  font-family: Inter;
  font-style: normal;
  cursor: default;
}
.carousel .carousel_cards .card .card_down p span {
  text-decoration: line-through;
  font-weight: 400;
}
.carousel .carousel_cards .card:hover {
  box-shadow: rgba(55, 125, 255, 0.699) 0px 3px 8px;
}
.carousel .visibleButton {
  visibility: hidden;
}

.free .blos {
  width: 100%;
  height: 250px;
  gap: 20px;
  display: flex;
  background: white;
  justify-content: space-evenly;
  margin-top: 20px;
}
.free .blos .above {
  display: flex;
  padding: 48px 32px;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
  background: var(--neutral-02100, #F3F5F7);
}
.free .blos .above .above svg {
  width: 48px;
  height: 48px;
}
.free .blos .above .above svg .above h6 {
  color: var(--neutral-07100, #141718);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.free .blos .above .above svg .above h6 .above span {
  color: var(--neutral-04100, #6C7275);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.vietnam {
  width: 100%;
  height: 350px;
  margin: auto;
  margin-top: 200px;
  display: flex;
}
.vietnam .foto-imge img {
  width: 100%;
  height: 345px;
}
.vietnam .since {
  background-color: #F3F5F7;
  width: 60%;
  height: 345px;
}
.vietnam .suportse {
  margin: auto;
  margin-left: 60px;
  margin-top: 10%;
  width: 50%;
}
.vietnam .suportse h6 {
  color: blue;
}
.vietnam .suportse p {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.400000006px;
  text-align: left;
  color: #000;
}
.vietnam .suportse h4 {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  margin-top: 10px;
  letter-spacing: 0px;
  text-align: left;
}
.vietnam .Sohopes {
  margin-top: 10px;
}
.vietnam .Sohopes a {
  color: #000;
}
.vietnam .Sohopes i {
  align-items: center;
  margin-left: 10px;
  margin-top: 5px;
}

.articles .more {
  width: 100%;
  height: 520px;
  padding: 80px, 160px, 80px, 160px;
  gap: 40px;
  background: white;
}
.articles .more .decor {
  width: 90%;
  height: 44px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-left: 10%;
  margin-top: 50px;
}
.articles .more .decor p {
  color: #000;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.400000006px;
  text-align: left;
}
.articles .more .ways {
  width: 90%;
  height: 400px;
  gap: 25px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.articles .more .ways p {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #000;
}

.our {
  background-image: url(/img/Paste\ image\ \(3\).png);
  width: 100%;
  height: 360px;
  padding: 40px;
}

.emailes {
  width: 540px;
  height: 170px;
  top: 101px;
  left: 450px;
  margin: auto;
  text-align: center;
}
.emailes h1 {
  font-family: Poppins;
  font-size: 40px;
  text-align: center;
  color: #000;
}

h5 {
  color: black;
  font-family: Inter;
  font-size: 18px;
  align-items: center;
  margin-left: 15%;
  margin-top: 10px;
  width: 70%;
}

.signs {
  width: 70%;
  height: 40px;
  margin: 40px;
  display: flex;
  margin-left: 15%;
  align-items: center;
}

.logine {
  border-bottom: 1px solid gray;
  display: flex;
  text-align: center;
  width: 120%;
  gap: 10px;
}
.logine i {
  margin-top: 8px;
  display: flex;
}
.logine input {
  border-bottom: 1px solid gray;
  outline: none;
  border: none;
  background-color: whitesmoke;
  display: flex;
  margin-top: 10px;
}
.logine p {
  font-family: Inter;
  font-size: 16px;
  margin-left: auto;
  text-align: left;
}

.emailhr {
  margin: 5px 0;
}

.giftt {
  background-color: #000;
  width: 100%;
  padding: 50px 10%;
}
.giftt .store {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.giftt .store .blogg {
  display: flex;
  align-items: center;
  gap: 20px;
}
.giftt .store .blogg h1 {
  color: white;
  font-size: 25px;
}
.giftt .store .blogg .lern {
  width: 2px;
  height: 30px;
  background-color: #fff;
}
.giftt .store .blogg span {
  color: white;
  font-family: serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
.giftt .store .esas {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
}
.giftt .store .esas li {
  color: white;
  font-size: 16px;
}
.giftt .footerHr {
  margin: 40px 0;
}
.giftt .terms {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.giftt .terms .copyRight {
  display: flex;
  gap: 15px;
  align-items: center;
  color: white;
}
.giftt .terms .copyRight p {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}
.giftt .terms .footerIcon {
  width: 10%;
  height: 24px;
}
.giftt .terms .footerIcon ul {
  display: flex;
  gap: 20%;
}
.giftt .terms .footerIcon ul li {
  list-style: none;
}
.giftt .terms .footerIcon ul li a {
  color: white;
}

@media screen and (max-width: 550px) {
  .container .elegant .shop ul {
    display: none;
  }
  .container .elegant .icone .fa-user,
  .container .elegant .icone .fa-magnifying-glass {
    display: none;
  }
  .slider {
    width: 76%;
    max-width: 1160px;
    height: 310px;
  }
  .slider .list .img {
    width: 1000px;
  }
  .slider .buttons {
    display: none;
  }
  .banner {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .banner .ban_left {
    width: 100%;
  }
  .banner .ban_right {
    width: 100%;
  }
  .free .blos {
    display: flex;
    flex-wrap: wrap;
  }
  .free .blos .above {
    width: 48%;
  }
  .vietnam {
    flex-direction: column;
    margin-bottom: 400px;
  }
  .vietnam .foto-imge img {
    width: 100%;
    height: 345px;
  }
  .vietnam .since {
    width: 100%;
  }
  .articles {
    margin-bottom: 50px;
  }
  .articles .more {
    height: auto;
  }
  .articles .more .ways {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  .articles .more .ways .your {
    width: 100%;
    padding: 15%;
    height: auto;
  }
  .giftt .store {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .giftt .store .blogg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .giftt .store .blogg .lern {
    width: 30px;
    height: 2px;
    background-color: #fff;
  }
  .giftt .store .esas {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 20px;
  }
  .giftt .footerHr {
    margin: 40px 0;
  }
  .giftt .terms {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: auto;
    gap: 20px;
  }
  .giftt .terms .copyRight {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    gap: 15px;
  }
  .giftt .terms .copyRight p {
    font-size: 12px;
  }
  .giftt .terms .footerIcon {
    width: 10%;
    height: 24px;
    margin: auto;
  }
  .giftt .terms .footerIcon ul {
    margin: auto;
    display: flex;
    gap: 20%;
  }
}

/*# sourceMappingURL=homepage.css.map */
